<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wallfire</title>
</head>
<body>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="imageupload" id="imageupload" />
    <input type="text" name="imagename" id="imagename">
    <button type="submit">Upload</button>
  </form>
</body>
</html>